cffi==2.0.0
click==8.3.1
cryptography==36.0.1
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pycparser==3.0
PyMySQL==1.0.2
setuptools==82.0.0
six==1.17.0
supervisor==4.2.4
Werkzeug==2.3.7
